ACCESS_TOKEN_EXPIRE_MINUTES=15
AI_ENABLED=false
DATABASE_URL=postgresql+asyncpg://postgres.nzzyurvmjudnthqajktv:M2pMwqwLmvbJAsQg@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
EMAIL_ENABLED=false
GCAL_ENABLED=false
GROQ_API_KEY=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
JWT_ALGORITHM=HS256
JWT_SECRET=Kx8mN2pQ9rS5tU7vW9xY2zA4bC6dE8fG0hJ1kL3mN5pQ7r
REFRESH_TOKEN_EXPIRE_DAYS=7
SMS_ENABLED=false
SUPABASE_SERVICE_KEY=sb_secret_DFhxq15KkStdiRiVWwDDDA_q6M4PvOb
SUPABASE_URL=https://nzzyurvmjudnthqajktv.supabase.co/rest/v1/